/.idea/
/ota.key
/ota.crt
/avb.key
/*.zip
/*.zip.patched
/.tmp/
/keys/
/extracted*/
/secrets_*.txt
/device_info.json
/Custota*.apk
/recovery_logcat.txt
/bin/
/docker.pdf
/ramdisk.img.0
/local_backup/
/tmp/
/INSTRUCTIONS.txt
/bluejay-*.zip*
/download-matching-ota.sh
/env.sh
/knowledge.md
/provision.sh